<div class="col-xs-12 col-sm-3">
  <h3>Top Githubbers</h3>
  <ul class="media-list" id="follower-list"></ul>
</div>

<div class="col-xs-12 col-sm-9">
  <h3>Githubbers' Locations</h3>
  <div id="map" class="img-responsive"></div>
</div>
