<div class="control-group">
	<div class="controls">
		<a class="btn" href="/graphs/false/true">
			<i class="glyphicon glyphicon-refresh"></i> Refresh Data
		</a>
		<a class="btn" href="/graphs/true">
			<i class="glyphicon glyphicon-refresh"></i> Redraw Graphs
		</a>
	</div>
</div>

<h2>User Activity</h2>
<ul class="unstyled" id="graph-list"></ul>
