{{#if_logged_in}}
	<div class="control-group">
		<div class="controls">
			<a class="btn btn-small" href="{{url "reps#refresh"}}">
				<i class="icon-refresh"></i> Refresh
			</a>
		</div>
	</div>


	<ul class="unstyled" id="graph-list"></ul>
{{else}}
	<h2 class="text-error">You must log in to see this page.</h2>
{{/if_logged_in}}
