<a class="btn btn-large" id="refresh"><i class="icon-refresh"></i> Refresh</a>
<input id="new-graph" placeholder="What needs to be done?" autofocus>
<script>
	//alert("{{graph.title}}");
	//alert(JSON.stringify({{collection}}));
	//alert({{collection}});
	//{{collection}}.reset("")
</script>