<div class="control-group">
	<div class="controls">
		{{#with_download}}
		<a id="download-reps" class="btn" href="{{rep_href}}" download="rep_data.csv">
			<i class="icon-download-alt"></i> Download Data
		</a>
		{{/with_download}}
	</div>
</div>

<h1 class="text-info">Chose an activity below.</h1>

<hr>
<div class="row-fluid">
{{#each items}}
	<div class="span3">
		<a href="{{href}}">
			<button class="btn btn-primary btn-large btn-padbottom" type="button">
				{{desc}}
			</button>
		</a>
	</div>
{{/each}}
</div>
