<div class="control-group">
	<div class="controls">
		<a id="download-reps" class="btn" href="{{rep_href}}" download="rep_data.csv">
			<i class="icon-download-alt"></i> Download Data
		</a>
	</div>
</div>

<h1 class="text-info">Chose an activity below.</h1>

{{#each items}}
<hr>
<div class="row-fluid">
	<a href="{{href}}">
		<button class="btn btn-primary btn-large" type="button">
			{{desc}}
		</button>
	</a>
</div>
{{/each}}
