<h1 class="text-info">Chose an activity below.</h1>
<hr>
<div class="row-fluid">
{{#each items}}
	<div class="span3">
		<a href="{{href}}">
			<button class="btn btn-primary btn-large btn-padbottom" type="button">
				{{desc}}
			</button>
		</a>
	</div>
{{/each}}
</div>
