{{#if_login_failed}}
<h1 class="text-error">Login failed. Please click the Login button above or check your connection.</h1>
{{else}}
<h1 class="text-info">
	<img src="img/spinner.gif" style="padding-right:10px;"/>Logging in...
</h1>
{{/if_login_failed}}


