<div class="control-group">
	<div class="controls">
		<a class="btn" href="/progresses/true">
			<i class="icon-refresh"></i> Refresh Data
		</a>
	</div>
</div>

<h2>Points Progress</h2><ul class="unstyled" id="progress-list"></ul>
