<div class="control-group">
	<div class="controls">
		<a class="btn" href="/progresses/true">
			<i class="glyphicon glyphicon-refresh"></i> Refresh Data
		</a>
	</div>
</div>

<h2>Follower Progress</h2>
<ul class="unstyled" id="progress-list"></ul>
