<div id="rep-view" class="container-fluid">
	<div id="work-graph" class="container-fluid">
		<h3>
			Work Graph
			<br>
		</h3>
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#">This Month</a>
			</li>
			<li>
				<a href="#">Last Month</a>
			</li>
			<li>
			</li>
		</ul>
		<img src="https://s3.amazonaws.com/jetstrap-site/images/what_icon.png">
		<hr>
	</div>
	<div id="feedback" class="container-fluid">
		<h3>
			Feedback Score
			<br>
		</h3>
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#">This Month</a>
			</li>
			<li>
				<a href="#">Last Month</a>
			</li>
			<li>
			</li>
		</ul>
		<img src="https://s3.amazonaws.com/jetstrap-site/images/what_icon.png">
		<hr>
	</div>
	<div id="progress-table" class="container-fluid">
		<h3>
			Progress Table
			<br>
		</h3>
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#">This Month</a>
			</li>
			<li>
				<a href="#">Last Month</a>
			</li>
			<li>
			</li>
		</ul>
		<table class="table">
			<tbody>
				<tr>
					<td>
						Cell 1
					</td>
					<td>
						Cell 2
					</td>
					<td>
						Cell 3
					</td>
				</tr>
			</tbody>
		</table>
		<hr>
	</div>
	<div id="progress-chart" class="container-fluid">
		<h3>
			Progress Chart
			<br>
		</h3>
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#">This Month</a>
			</li>
			<li>
				<a href="#">Last Month</a>
			</li>
			<li>
			</li>
		</ul>
		<div class="progress">
			<div class="bar" style="width: 50%">
			</div>
		</div>
		<div class="progress">
			<div class="bar" style="width: 50%">
			</div>
		</div>
		<div class="progress">
			<div class="bar" style="width: 50%">
			</div>
		</div>
		<hr>
	</div>


	<div class="">Rep name<br>Phone #<br>ID #:<br>Ward:<br>District:<br>Manager:<br></div>
</div>
