<div id="man-view1" class="container-fluid">
	<div id="call-list" class="container-fluid">
		<div id="to-call" class="container-fluid">
			<h3>
				To Call
				<br>
			</h3>
			<hr>
			<label class="checkbox">
				<input type="checkbox">
				Rep Name #1
			</label>
			<label class="checkbox">
				<input type="checkbox">
				Rep Name #2
			</label>

		</div>
		<div id="other" class="container-fluid">
			<h3 class="">
				Other
				<br>
			</h3>
			<hr>
			<label class="checkbox">
				<input type="checkbox">
				Rep Name #1
			</label>
			<label class="checkbox">
				<input type="checkbox">
				Rep Name #2
			</label>
		</div>
		<div id="other" class="container-fluid">
			<h3 id="called">
				&nbsp;Called
				<br>
			</h3>
			<hr>
			<label class="checkbox">
				<input type="checkbox">
				Rep Name #1
			</label>
			<label class="checkbox">
				<input type="checkbox">
				Rep Name #2
			</label>
		</div>
	</div>
</div>
