<div id="man-view2" class="container-fluid">
	<div id="progress-table" class="container-fluid">
		<h3>
			Rep Progress Table
			<br>
		</h3>
		<table class="table">
			<tbody>
				<tr>
					<td>
						Cell 1
					</td>
					<td>
						Cell 2
					</td>
					<td>
						Cell 3
					</td>
				</tr>
			</tbody>
		</table>
		<hr>
	</div>
	<div id="progress-chart" class="container-fluid">
		<h3>
			Rep Progress Chart
			<br>
		</h3>
		<div class="progress">
			<div class="bar" style="width: 50%">
			</div>
		</div>
		<div class="progress">
			<div class="bar" style="width: 50%">
			</div>
		</div>
		<div class="progress">
			<div class="bar" style="width: 50%">
			</div>
		</div>
	</div>
</div>
