<div class="control-group">
	<div class="controls">
		<a class="btn" href="/tocalls/true">
			<i class="icon-refresh"></i> Reset Scores
		</a>
	</div>
</div>

<h2>Followers Check List</h2>

<table class="table table-hover">
	<tbody id="tocall-list"></tbody>
</table>
