<div class="control-group">
	<div class="controls">
		<a class="btn" href="/tocalls/true">
			<i class="icon-refresh"></i> Reset Scores
		</a>
	</div>
</div>
<h2>Followers Check List</h2>
<ul class="unstyled" id="tocall-list"></ul>
