<div class="view">
	<label class="checkbox">
		<input class="toggle" type="checkbox"{{#if called}} checked{{/if}}>
		<p>
			{{name}} ({{followers}})
			<a class="btn btn-mini" href="/rep/{{login}}">
				<i class="icon-chevron-right"></i> Go
			</a>
		</p>
	</label>
</div>
