<td>
	<label class="checkbox">
		<input class="toggle" type="checkbox"{{#if called}} checked{{/if}}>
	{{#if followers}}
		<p>{{name}} ({{followers}})</p>
	{{else}}
		<p>Loading...</p>
	{{/if}}

	</label>
</td>
<td>
	<a class="btn" href="/rep/{{login}}">
		<i class="glyphicon glyphicon-chevron-right"></i>
	</a>
</td>
