<div class="control-group">
	<div class="controls">
		<a class="btn" href="/visits/true">
			<i class="glyphicon glyphicon-refresh"></i> Refresh Data
		</a>
	</div>
</div>

<h2>User Stats Summary</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th><th>Repos</th>
			<th>Gists</th><th>Followers</th>
		</tr>
	</thead>
	<tbody id="visit-list"></tbody>
</table>
